.section-title {
    font-size: 28px;
    line-height: 1.18;
    color: var(--section-title-color);
    margin-bottom: 50px;
    text-align: center;
    @media screen and (min-width:1200px) {
    font-size: 36px;
    line-height: 1.16;
    }

}