html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}