:root {
    --primary-text-color: #757575;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4))


}