.test-soc-list {
   display: flex;
   gap: 30px;
}
.test-soc-item {
    width: calc((100% - 150px) /6);
    height: 90px;
}

.test-soc-icon {
    width: 106px;
    height: 60px;
    transition: fill var(--duration) var(--cubic-bezier);

    .test-link:hover &,
    .test-link:focus & {
        fill: var(--accent-color);
    }
}

.test-link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--duration) var(--cubic-bezier), fill var(--duration) var(--cubic-bezier);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}



