.footer {

    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footcont {
    display: flex;
    align-items: baseline;
}

.contact {
    min-width: 231px;
    margin-right: 70px;
}

.footer-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.address.style {
    margin-top: 20px;
}

.footer-address {
    color: var(--hero-title-color);
    text-decoration: none;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.footer-email,
.footer-tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
    color: var(--accent-color);
        }
}


.footer-logo-studio {
    color: var(--hero-title-color);
}



.address {
    display: flex;
    flex-direction: column;
    gap: 9px;

}

.soc-icon {
    display: block;
    margin-right: 93px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 20px;

}

.footer-soc-list {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.footer-soc-icon {
    fill: var(--hero-title-color);

}

.online-field {
    display: flex;
    align-items: center;
    justify-content: center;

}

.online-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding-left: 16px;
    margin-right: 12px;
    color: var(--hero-title-color);
    &::placeholder {
            font-size: 16px;
            line-height: 1.3;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }

}

.online-button {
    height: 50px;
    color: var(--hero-title-color);
    background: var(--accent-color);
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;



}

.online-input-icon {

    fill: var(--hero-title-color);
}