.header {
    background-color: var(--hero-title-color);
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}
.mob-menu-container {
   
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}
.menu-open {
    margin-left: 15px;
    @media screen and (min-width:768px) {
            display: none;
        }
}
.menu-close {
   display: block;
    margin-left: auto;

    
    
}
.mob-menu {
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color:var(--hero-title-color);
    padding-top: 48px;
    padding-bottom: 48px;
    > .mob-menu-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;

    }
    
}
.mob-menu-list {
margin-bottom: 80px;
}
.mob-menu-item:not(:last-child) {
margin-bottom: 32px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height:1.18;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}

.mob-part2 {
    display: inline-block;

}
.mob-contact-list {
margin-bottom: 64px;
}
.mob-contact-soc-item:not(:last-child) {
    margin-bottom: 32px;
} 

.open-menu-icon {
    
    width: 24px;
        height: 16px;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 22px;
        top: 22px;
       
}

.mob-contact-tel {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}
.mob-contact-email {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}
.mob-soc-list {
    display: flex;
    gap: 20px;
    flex-direction: row;


}

  
.menu-close {
    width: 30px;
        height: 30px;
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        right: 25px;
        top: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
}

.mob-soc-item {
    &:not(:first-child) {
        margin-left: 20px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            left: 10px;
            height: 22px;
            width: 2px;
            border-color: rgba(33, 33, 33, 0.2);
        }
    }
}


.mob-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
     color: var(--accent-color);
    text-decoration: none;
}

.header-list {
    display: none;
    gap: 38px;
    @media screen and (min-width:768px){
     display: flex; 
      
    }

}

.contact-list.list {
    display: none;
    gap: 30px;
    @media screen and (min-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: start;
        }
   @media screen and (min-width:1200px) {
       display: flex;
       flex-direction: row;
       gap: 30px;
      
   }
}

.header-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-logo-studio {
    color: var(--section-title-color);
}

.list {
    list-style: none;
}

.header-item {
    display: inline-block;

}

.header-link {
    color: var(--section-title-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
        color: var(--accent-color);
        }

}

.current {
    color: var(--accent-color);
    &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: var(--accent-color);
            border-radius: 2px;
        }
}

.contact-link {
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-soc-item {
    height: 10px;
    display: flex;
    justify-content: center;
}

.email-soc-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}


.contact-email {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.contact-tel {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
        color: var(--accent-color);
        }

}

.tel-soc-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}



