.section.team {
    background: #F5F4FA;
    text-align: center;
}

.team-list {
    background: #F5F4FA;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.team .person {
    background: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 90px)/4);
    width: 100%;
   
}

.team-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--section-title-color);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-item {
    width: 44px;
    height: 44px;

}

.team-soc-link {
    width: 100%;
    height: 100%;
    background: var(--hero-title-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration) var(--cubic-bezier), fill var(--duration) var(--cubic-bezier);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }
}

.team-soc-icon {
    fill: #AFB1B8;
    transition: fill var(--duration) var(--cubic-bezier);
    .team-soc-link:hover &{
            fill: var(--hero-title-color);
        }
}



