.section.we-do {
 
    text-align: center;
    background:var(--hero-title-color);
  
}
.section-title.we-do {
    display: none;
    @media screen and (min-width:1200px) {
            display: inherit;
        }
}

.we-do-item {
    width: 370px;
    height: 294px;
}

.we-do-list {
    display: none;
    justify-content: center;
    justify-content: space-between;
    gap: 30px;
    @media screen and (min-width:1200px) {
            display: flex;
        }
}

.div-we-do {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2-we-do {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: relative;
    bottom: 70px;
}

.we-do-text {
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--hero-title-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}